<%-include("partials/header")%>
<!--Hero-->
<div class="hero px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="images/profilePic1.jpg" alt="profile picture">
    <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
    <div class="col-lg-6 mx-auto">
        <%-include("partials/home1.ejs")%>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form action="/projects" method="get">
            <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">View Projects</button>
            </form>
        </div>
    </div>
</div>

<%-include("partials/footer")%>